<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hellow ABC</h1>
    <h3>Name: <%=name %></h3>
  	<h3>ID: <%=id %></h3>

  </body>
</html>
